.container {
  border-bottom: 1px solid #B0B2B5;
  width: 100%;
  padding: 1em 2em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4em;
}

.logo {
  font-weight: bold;
  color: #FFFFFF;
}