.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-bottom: 4em;
}

.formInput {
  width: 100%;
  max-width: 32em;
  padding: 1em;
  border-radius: 0.6em;
}

.formButton {
  padding: 1em 3em;
  border-radius: 0.6em;
  cursor: pointer;
  background: #FFF100;
  color: #161609;
}