.container {
  width: 100%;
  border: 1px solid #B0B2B5;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(245, 245, 245, 0.6);
  color: #FFF100;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.item input {
  width: 100%;
  padding: 0.6em;
  border-radius: 0.6em;
  background: #B0B2B5;
  font-size: 1rem;
  color: #161609;
}

.item input:focus {
  background: #FFFFFF;
}

.editContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 1em;
  margin-top: 1em;
}

.editContainer button {
  cursor: pointer;
  font-weight: 600;
  border-radius: 0.4em;
  padding: 0.6em;
}

.update {
  background: #FFF100;
  color: #161609;
}

.delete {
  background: #B0B2B5;
  color: #FFFFFF;
}

.arrow {
  cursor: pointer;
  width: 2em;
  height: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF100;
  color: #161609;
  border-radius: 0.2em;
  font-size: 1.2rem;
}